body{
    background-color: #DDDDDD;
    margin: 0px;
    padding: 0px;
    font-family: Times, Times New Roman, serif
}

/* cabeçalho*/

header{
    padding: 10px;
    background-color: #231640;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#link-header{
    text-decoration: none;
}

.logo{
    display: flex;
    justify-content: center;
    text-align: center;
}
.logo p{
    margin-left: 10px;
    color: #F2275D;
    font-size: 1.3rem;
    font-weight: 800;
}

.icone{
    margin-left: 20px;
    width: 3.5rem;
}

#repositorio{
    color: #14D90D;
    font-size: 1.34rem;
    text-decoration: none;
    margin-right: 20px;
}
#repositorio:hover{
    text-decoration: underline;
}
/*------------- fim cabeçalho -------------*/

main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#conteudo{
    padding: 2px;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 10vh;
    text-align: center;
    font-size: 0.80rem;
    background-color: #231640;
    height: fit-content;
    width: 30rem;
    border: 2px solid #0B8AD9;
}

#conteudo img{
    object-fit: cover;
    border-radius: 6px;
    width: 100%;
    height: 50vh;
}

#conteudo a{
    margin-bottom: 2px;
    text-decoration: none;
    color: #F2275D;
}
#conteudo a:hover{
    text-decoration: underline #14D90D;
}

#nomeArtista{
    font-weight: 20rem;
    color: #F2275D;
}


#descricaoArtista{
    padding: 40px;
    border-radius: 10px;
    background-color: white;
    width: 30vw;
    font-size: 1.3rem;
}

#informacaoExtra{
    padding: 40px;
    border-radius: 10px;
    background-color: white;
    width: 30vw;
    font-size: 1.3rem;
}
